In [11]:
import pandas as pd

In [12]:
df = pd.read_csv(r"C:\Users\andre\Рабочий стол\Практикум\Специалист по Data Science Плюс. Часть 3\01 Исследовательский анализ данных\visits.csv", sep='\t')
df

              date_time        id  time_spent     name
0       20180406T165358  76144fb2        98.0  Василёк
1       20180404T173913  76144fb2        15.0  Василёк
2       20180403T172824  76144fb2       220.0  Василёк
3       20180407T070441  76144fb2        19.0  Василёк
4       20180404T132049  76144fb2        14.0  Василёк
...                 ...       ...         ...      ...
317099  20180408T053133  9cdb5039        11.0  Гейхера
317100  20180403T021353  9cdb5039       181.0  Гейхера
317101  20180408T062636  9cdb5039       252.0  Гейхера
317102  20180405T232425  9cdb5039        29.0  Гейхера
317103  20180405T194238  9cdb5039        20.0  Гейхера

[317104 rows x 4 columns]

In [13]:
df['date_time'] = pd.to_datetime(df['date_time'], format='%Y%m%dT%H%M%S')

In [14]:
df.pivot_table(index='name', values='time_spent', aggfunc='mean')

             time_spent
name
Агератум     337.802721
Амарант      132.760012
Аммобиум     256.708042
Арктотис      73.879984
Астильба     376.143149
Бальзамин    134.508411
Бархатцы     145.300328
Бегония      163.200647
Белоцветник  100.818966
Василёк      268.849897
Вербена      190.016594
Вероника     220.019402
Гацания      160.685185
Гвоздика     294.317308
Гейхера      167.445947
Гелихризум   290.138643
Георгина     166.615555
Годеция      113.958333
Диморфотека  406.161017
Доротеантус  263.568916
Ирис         179.931159
Календула    207.357323
Колокольчик  119.131564
Космос       164.867797
Крокус       349.031746
Лаватера     249.992844
Левкой       187.465606
Лобулярия     96.834350
Люпин        235.440937
Малопа        76.070543
Мальва       136.562234
Нарцисс       68.166758
Настурция    154.859694
Незабудка    120.362398
Немезия      186.535207
Обриета      141.777778
Петуния      265.780822
Пион         222.565523
Подснежник   180.286207
Роза         260.877217
Ромашка      231.389365
Тюльпан      187.832210
Фасоль       133.631957
Функия       302.494737
Хризантема   195.738710

In [15]:
%store df

Stored 'df' (DataFrame)